.timer-control {
  background-color: hsl(354, 59%, 57%);
  color: hsl(0, 0%, 100%);
  border-width: 2px;
  border-radius: 3px;
  border: solid;
  outline: hsl(354, 59%, 57%);
  padding: 15px 40px;
  align-self: center;
  border-color: hsl(354, 59%, 57%);
  width: 100%;
}

@media screen and (min-width: 900px) {
  .timer-control {
    justify-self: center;
    padding: 8px 40px;
  }
}
