/*--------------------------------------------------------------
Colour
--------------------------------------------------------------*/
body {
  color: hsl(354, 59%, 57%);
}

.timer {
  border-color: hsl(354, 59%, 57%);
}
  
.timer-control {
  background-color: hsl(354, 59%, 57%);
  color: hsl(0, 0%, 100%);
}

.timer-control:focus{
  outline: 0;
}