@supports (display: grid) {
/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/
/* Styling */
.App {
  max-width: 400px;
  margin: 0 auto;
  padding: 0;
  align-items: center;
}

.title {
  align-self: flex-start;
}

.pomodorosUl{
  display: flex;
  flex-direction: row;
}

.pomodoro:nth-child(1), .pomodoro:nth-child(2), .pomodoro:nth-child(3){
  padding-right: 8px;
}

.timer {
  border-top: 2px solid;
  border-bottom: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}

.timer-control{
  width: 100%;
}

/* Grid */
  .App {
    display: grid;
    grid: 20vh 5vh 5vh 5vh 10vh 20vh 10vh 5vh 20vh/1fr 8fr 1fr;
    grid-template-areas:
    "a a a"
    "b title c"
    "b session c"
    "b pomodoros c"
    "b space c"
    "b timer c"
    "b x c"
    "b timer-control c"
    "d d d"
    ;
  }

  .title {
    grid-area: title;
  }
  .session {
    grid-area: session;
  }
  .pomodoros {
    grid-area: pomodoros;
  }
  .timer {
    grid-area: timer;
  }
  .timer-control {
    grid-area: timer-control;
  }

/*--------------------------------------------------------------
Large
--------------------------------------------------------------*/
  @media screen and (min-width: 900px) {
    .title{
      writing-mode: vertical-lr;
      text-orientation: upright;
    }
    .App {
      height: 100vh;
      max-width: 1000px;
    }
    .App {
      display: grid;
      /* grid: 3fr 25vh 1fr 2vh 5vh 2vh 1fr 25vh 3fr/1fr 1fr 2fr 1fr 3fr 1fr 2fr 2fr; */
      grid: 3fr 25vh 1fr 2vh 5vh 2vh 1fr 25vh 3fr/1fr 1fr 2fr 1fr 3fr 1fr 2fr 2fr;
      grid-template-areas:
      "a a a a a a a a"
      "c title e g  h j k m"
      "c d e g h j k m"
      "c d session g timer j  k m"
      "c d pomodoros g timer j timer-control m"
      "c d f g timer j l m"
      "c d f g i j l m"
      "b b b b b b b b"
      ;
  }

  .timer {
    border-top: none;
    border-bottom: none;
    border-left: 2px solid;
    border-right: 2px solid;
  }

  /* Positioning */
  /* .App {
    position: relative;
  }

  .pomodoros {
    position: absolute;
    bottom: 0;
  } */

  .pomodoros {
    display: flex;
    align-items: flex-end;
  }



    
  }
}
