/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/
.App {
    max-width: 100%;
    margin: 0px auto;
    height: 90vh;
    padding: 24px 36px;
  }
  
.pomodoro-slots,.filled-pomodoros {
  display: flex;
  flex-direction: row;
}

.pomodoro-slots, .filled-pomodoros {
  position: absolute;
  top: 0;
}

.timer {
  text-align: center;
}

.timer-control {
  justify-self: right;
}