/*--------------------------------------------------------------
Styles
--------------------------------------------------------------*/
.timer {
    border-left: 2px solid hsl(354, 59%, 57%);
    border-right: 2px solid hsl(354, 59%, 57%);
    width: 100%;
  }
  
  .timer-control{
    padding: 8px 0px;
    width: 67%;
  }