.finished-question {
  font-size: 10px;
  color: hsl(354, 59%, 70%);
  align-self: flex-end;
  justify-self: flex-end;
  position: fixed;
  bottom: 36px;
  right: 36px;
  cursor: pointer;
}

.finished-question:hover {
  color: hsl(354, 59%, 57%);
}

.finished-dialogue {
  z-index: 1;
  grid-row: 1/8;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  background-color: hsl(354, 59%, 57%);
  border: 2px solid hsl(354, 59%, 57%);
  padding: 12px;
  border-radius: 3px;
  display: grid;
  grid: 1fr 2fr 2fr/2fr 1fr;
  grid-template-areas:
    "space close"
    "text text"
    "text text";
}

.finished-text {
  font-size: 24px;
  grid-area: text;
  align-self: center;
  justify-self: center;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.close-icon {
  grid-area: close;
  justify-self: flex-end;
  cursor: pointer;
  width: 12px;

}

@media screen and (min-width: 900px) {
  .finished-dialogue {
    grid-row: 1/5;
    grid-column: 1/7;
  }
}
