/*--------------------------------------------------------------
Grid
--------------------------------------------------------------*/
.App {
    display: grid;
    grid: 24px 24px  24px 1fr 24px / 1fr;
    grid-template-areas: 
    "title"
    "session"
    "pomodoros"
    "timer"
    "timer-control"
    ;
}

.title {
    grid-area: title;
}

.session {
    grid-area: session;
}

.pomodoros {
    grid-area: pomodoros;
}

.timer {
    grid-area: timer;
    justify-self: center;
    align-self: center;
}

.timer-control {
    grid-area: timer-control;
}