.App {
    max-width: 200px;
    margin: 0 auto;
    padding: 24px 36px;
}

.title, .session, .pomodoros, .timer, .timer-control {
    margin-top: 12px;
}

.pomodoro{
    display: inline-block;
    padding-right: 4px;
}

.timer {
    padding-top: 24px;
    padding-bottom:  24px;
    text-align: center;
}

.timer-control {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;;
}